<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<header> To be replaced </header>
<main class="container">
    <section class="container">
        <h3>Add New Product</h3>
        <form action="input-group mt-2">
        <label>Name</label>
            <label>Price</label>
            <label>Name</label>
            <label>Quantity</label>

            private String name;
            private double price;
            private double quantity;
            private Category category;
            private boolean availability;
        </form>
    </section>
</main>
</body>
</html>