<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
<header th:replace="fragments/header.html :: shared_header"></header>
<main class="container">
    <section class="container"
             th:replace="fragments/header.html::ifArrayEmpty">
    </section>


    <section class="container">
        <form th:action="${'/product-sold/' }" method="post">

        <ol th:if="${!productArray.isEmpty()}"
            class="list-group list-group-flush">
            <li th:each="product: ${productArray}"
                th:class="list-group-item">
                <b>
                <span th:text="${product.getName()} + ' - price: '"></span>
                <span th:text="${product.getPrice()} + ' - quantity: '"></span>
                <span th:text="${product.getQuantity()} + ' - '"></span>
                <span th:text="${product.getCategory().toString()}"></span>
                </b>
                <span class="input-group mt-2">
                       <a class="btn btn-outline-primary btn-sm" href="/product_sold/{id}">Sell Product</a>
                        <label class="input-group-text">Quantity</label>
                        <input class="form-control" type="text" width="10">
                    </span>
                    </li>
        </ol>
                    <div class="input-group mt-2">
                        <button class="btn btn-success">Confirm selling</button>
                    </div>
                </form>
    </section>
</main>
</body>
</html>
